


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link class="favic" rel="icon" href="favicon.png" sizes="64x64"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/emojipicker.css">





  </head>


<style media="screen">

  body{
    background:#f4f4f4
  }
  .box1 {
  display: flex;
  margin: 90px 0 0;
  padding: 10px;
  width: 100%;
  min-height: 300px;
  border: 2px #ccc solid;
  color: #fff;
}
.box2 {
display: flex;
align-items: center;
justify-content: center;
margin: 90px 0;
padding: 10px;
width: 100%;
min-height: 700px;
border: 2px #ccc solid;
overflow-x:hidden;
color: #fff;
}



.input {
  border:0;
}

.scrollbar
{
	float: right;
	height: 330px;
  width:100%;
	background: white;
	overflow-y: scroll;
  overflow-x:hidden;
  border-bottom:1px solid  #ccc;
}

.force-overflow
{
	min-height: 460px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: #997381;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


</style>


  <body>

    <nav class="navbar navbar-expand navbar-light bg-light shadow">
      <ul class="navbar-nav mr-auto">
        <div class="navbar-header">
        <a class="navbar-brand" href="http://demo.themefisher.com/demos/?theme=food-code" style=" color:#997381;"><i class="fas fa-user-shield"></i>
    </a>
        <a class="navbar-brand" href="/" style=" color:#997381;  font-weight:bold">Feel-At-Home</a>
      </div>
      </ul>

      <ul class="navbar-nav">
        <div class="navbar-header pull-right">
        <a class="navbar-brand" href="/" style=" color:#997381;"><i class="fas fa-backspace"></i>
        </a>
        <a class="navbar-brand" href="/" style=" color:#997381;  font-weight:bold">Go Back</a>
        </div>
      </ul>
    </nav>


    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-4">
          <div class="box1">
 <div style="background:white;height:30px; width:100%; color:#997381; ">
<h6 style=" margin:5px; font-weight:bold;">Users</h6>

<div id="sidebar" class="chat__sidebar">

        </div>

        <script id="sidebar-template" type="text/html">
          <div id="sidebar" class="">

           </div>
<div class="scrollbar" id="style-6" style="background:white;height:216px; width:100%; margin-top:20px; color:#997381;">
  <div class="force-overflow" style=" ">

<h6 class="room" style="height:0px;display:none;">{{room}}</h6>

  {{#users}}
<a  style="margin:30px 10px; margin-top:5px; font-weight:bold; color:grey; cursor:pointer">
{{username}}<br />
</a>
<a href="#" title=""><i class="fas fa-signal" style="margin-left:10px;font-size:13px; color:#997381"></i></a>
<a  class="requestuser" href="#" style="position:relative;right:-90px;">
  <i id="{{username}}" style="color:#997381" class="www"></i>

</a>
<hr>
{{/users}}
{{#check}}
  <a style="margin:30px 10px; margin-top:5px; font-weight:bold; color:grey; cursor:pointer">
  {{user2}}
  <a class="requestuser" href="#" style="position:relative;right:-90px;">

    <i id="{{user2}}"  style="color:#997381" class="www "></i>

  </a>
  <br />
  <a href="" style="position:relative; left:10px ;top:5px;">
    <i   style="color:#997381" class="notify fas fa-user-plus ">
      <span class="notificationmessage" style="font-family:sans-serif; font-size:12px;">Invite</span>
    </i>
  </a>

  <hr>

  </a>

{{/check}}

</div>
</div>
</div>

</script>

  </div>

          </div>
        </div>

        <div class="col-xs-12 col-sm-8">
          <div class="box2">


           <div style="background:white;height:680px; width:100%; color:#997381;">
           <a style="margin:30px 10px; margin-top:5px; font-weight:bold; color:grey; cursor:pointer">
           Doritos
            <br />
            <a href="#" title=""><i class="fa fa-handshake" area-hidden=true style="margin-left:10px;font-size:13px; color:#997381"></i></a>


            <button  class="btn pull-right" style="position:absolute;  right:30px;  bottom:730px">
              <a href="/chat?username=XYZ&room=123456">
                <i style="color:#997381"  class="fas fa-trash"></i>
            </a>
            </button>

           <hr>
           </a>
  <div class="scrollbar" id="style-6" style="height:560px;position:relative; top:-16px; ">
<!-- messages -->

<div class="force-overflow" style="width:100%; position:absolute; left:0px; right:0px; ">
  <div id="messages" class="chat__messages"></div>
  <script id="message-template" type="text/html">
    <p style="color:#997381;font-weight:bold; margin:2px; margin-top:18px; position:relative; left:6px; ">
    {{username}}
    </p>
    <p style="position:relative; left:6px;">{{message}}
    <span>{{createdAt}}</span>
    </p>

    <br>
    <hr />


</script>

<script id="location-message-template" type="text/html">
  <p style="color:#997381;font-weight:bold; margin:2px; margin-top:18px; position:relative; left:6px; ">
  {{username}}
  </p>

  <p style="position:relative; left:6px;">
    <a style="font-weight:bold;" href="{{url}}">My Current Location</a>
  <span>{{createdAt}}</span>
  </p>
  <br>
  <hr />

  <div id="sidebar" class="chat__sidebar">

          </div>
      <div id="messages" class="chat__messages"></div>

</script>


</div>
    </div>




             <hr>


             <div class="chat">

<form id="message-form" style="">



    <div  style>

    <%- include('./emojipicker') -%>

  </div>

  <input autocomplete="off" id="txtMessage" class="input-field" type="text" name="message" value="" placeholder="Type Something" style="width:70%; position:relative; left:9px; top:-9px; margin:0px; border:0px;">

  <button  class="btn " style="position:relative; top:-5px; right:-13px;color:#997381">
    <a href="#">
<i style="color:#997381" class="fas fa-paper-plane"></i>
</a>
</button>

<button id="send-location" class="btn " style="position:relative; right:-10px; top:-5px; color:#997381">
  <a href="#">
    <i style="color:#997381" class="fas fa-map-marker-alt"></i>
</a>
</button>






  </form>

</div>



           </div>

          </div>
        </div>

      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
      </script>
      <script src="js/emojipicker.js" charset="utf-8"></script>

      <script src="/socket.io/socket.io.js"></script>
      <script src="js/chat.js" charset="utf-8"></script>
      <script src="js/sendRequest.js" charset="utf-8"></script>
      <script src="js/requestaccepted.js" charset="utf-8"></script>



    <script type="text/javascript">
        $('input').css("outline","none")
    </script>

  </body>
</html>
