<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GroupChats</title>
    <link class="favic" rel="icon" href="favicon.png" sizes="64x64"/>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <base href="https://doritos.herokuapp.com/"/>
    <!-- <base href="http://localhost:3000/"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">



    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
      </script>


    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/styles.min.css">


<style>

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  font-weight: 700;
  color:#fff;
  text-align: center;
  font-weight: 600;
  color: #6d384bb3;
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: 'Tangerine', cursive;
}
</style>

  <body class="filter">
    <header>
      <nav class="  navbar navbar-expand navbar-light bg-light shadow">
        <ul class="navbar-nav mr-auto">
          <div class="navbar-header">
          <a class="navbar-brand" href="/recipe" style=" color:#997381;"><i class="fas fa-user-shield"></i>
      </a>


      <% if(userId) { %>
        <a class="navbar-brand" href="/<%= userId %>" style=" color:#997381;  font-weight:bold">Feel-At-Home</a>

      <% }else{ %>
        <a class="navbar-brand" href="/" style=" color:#997381;  font-weight:bold">Feel-At-Home</a>

      <% } %>





        </div>
        </ul>


      </nav>

    </header>


    <div class="see">
      <h1 style="font-size:4rem;  font-family:'Tangerine', cursive ;">Feel At Home</h1>
    </div>

<div class="container-fluid" style="background-color:#f4f4f4; position:absolute; bottom:0px; top:150px; ">

<% if(username){ %>
  <h1 class="username"  value="<%= username %>" style="display:none">
<%= username %>
  </h1>
<% } %>



      <div class="chat" >



          <div id="sidebar" class="chat__sidebar" style="height:65vh; margin-top:70px; background-color:#997381;">

          </div>
          <div class="chat__main" style="height:65vh;margin-top:70px; border:1px solid pink;" >
              <div id="messages" class="chat__messages"></div>

              <div class="compose">
                  <form id="message-form">

                      <input name="message" placeholder="Message" required autocomplete="off">

                      <button style="color:white; background-color:#997381" >Send</button>
                  </form>
                  <button style="color:white; background-color:#997381;" id="send-location">Send location</button>
              </div>
          </div>



      </div>

      <script id="message-template" type="text/html">
              <div class="message">
                  <p>
                      <span class="message__name">{{username}}</span>
                      <span class="message__meta">{{createdAt}}</span>
                  </p>
                  <p>{{message}}</p>
              </div>
          </script>

      <script id="location-message-template" type="text/html">
              <div class="message">
                  <p>
                      <span class="message__name">{{username}}</span>
                      <span class="message__meta">{{createdAt}}</span>
                  </p>
                  <p><a href="{{url}}" target="_blank">My current location</a></p>
              </div>
          </script>

      <script id="sidebar-template" type="text/html">


          <h2 class="room-title" style="background-color:#997381; text-shadow:0 0 8px white">Companions</h2>
          <ul class="users">

<li style="margin-bottom:20px">
  <a href="https://www.google.com/maps?q=Delhi" style=" font-size:20px; color:white;">
{{#location}}
<i class="fas fa-map-marker-alt">
<h6 style="display:inline; font-weight:bold">
{{location}}
</h6>
</i>
{{/location}}
</a>

</li>

{{#locusers}}
<li>
  {{username}}
</li>
{{/locusers}}
  </ul>


  <ul class="users" style="position: absolute; top:550px;">

    <li style="margin-bottom:10px;font-weight:bold">Online Users</li>

              {{#users}}
                  <li>{{username}}</li>
              {{/users}}


</ul>













      </script>










</div>


  </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/groupchat.js"></script>
  <script type="text/javascript" src="js/event.js"></script>

</html>
