<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mb-3 my-skeleton-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-1">
        <div class="my-skeleton my-skeleton-img mr-2"></div>
      </div>
      <div class="flex-grow-1">
        <div class="d-inline-block my-skeleton my-skeleton-link"></div>
        <div class="d-inline-block my-skeleton my-skeleton-at-mark"></div>
        <div class="my-skeleton my-skeleton-content"></div>
      </div>
    </div>
  </div>
</div>
