


<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:10px">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

      <div class="item active" style="width:100%">
          <p>LA is always so much fun!</p>
      </div>

      <div class="item" style="width:100%">
          <p>Thank you, Chicago!</p>
        </div>


      <div class="item" style="width:100%">
          <p>We love the Big Apple!</p>
      </div>

      </div>



    </div>




      </main>
